[submodule "docs/IKT"]
	path = docs/IKT
	url = https://github.com/VaagenIM/docs.iktim.no-ikt
	branch = main
[submodule "docs/MP"]
	path = docs/MP
	url = https://github.com/VaagenIM/docs.iktim.no-mp
	branch = main
