[submodule "docs/IKT"]
	path = docs/IKT
	url = https://github.com/VaagenIM/docs.iktim.no-ikt
	branch = main
[submodule "docs/MP"]
	path = docs/MP
	url = https://github.com/VaagenIM/docs.iktim.no-mp
	branch = main
[submodule "docs/2022"]
	path = docs/2022
	url = https://github.com/VaagenIM/docs.iktim.no-2022
	branch = main
[submodule "docs/Moduler"]
	path = docs/Moduler
	url = https://github.com/VaagenIM/docs.iktim.no-moduler
